<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Dr. Evils Dangerous Bunnies highscore</h1>
  </div>
</header>

<div class="container" id="body-container">
<!--
  <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <input type="search" id="search" value="" class="form-control" placeholder="Search using Fuzzy searching">
        </div>
    </div>
-->
    <div class="row">
        <div class="col-lg-4">
            <h2>All time</h2>
            <table class="table" id="scoretable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="highscore in highscore.all | orderBy:'name'"><td>{{highscore.name}}</td><td>{{highscore.score}}</td></tr>
                </tbody>
            </table>
            <hr>
        </div>
        <div class="col-lg-4">
            <h2>Top 10 this month</h2>
            <table class="table" id="scoretable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="highscore in highscore.sorted10"><td>{{highscore.name}}</td><td>{{highscore.score}}</td></tr>
                    
                </tbody>
            </table>
            <hr>
        </div>
        <div class="col-lg-4">
            <h2>Top 5 of all time</h2>
            <table class="table" id="scoretable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="highscore in highscore.sorted5"><td>{{highscore.name}}</td><td>{{highscore.score}}</td></tr>
                </tbody>
            </table>
            <hr>
        </div>
    </div>
   
</div>

<footer class="footer">
  <div class="container">
      <p>Made with lååve by: Jacob, Jakob, Kevin and André</p>
  </div>
</footer>
